body{
margin:0;
padding:0;
}

.bg-container{
background-color :#fff;
height:60%;
/*background-image : linear-gradient(90deg,yellow,#60bef8,#d88cff);*/
background-image : linear-gradient(45deg,pink,white,cyan);
background-size : 600%,600%;
animation: bgAnimatedGradient 10s infinite linear;
}

/*h1{
	text-align :center;
	padding-top: 25%;
	font-family: "Roboto", sans-serif;
	letter-spacing: 6px;
	font-size: 10vw;
	color: black;
}*/
p {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
@keyframes bgAnimatedGradient{
0%{ background-position: 0 85%;}
50%{background-position: 100% 20%;}
100%{background-position: 0 85%;}
}