<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='stylee.css')}}">
	<style>
h1 {text-align: center;}
p {text-align: justify;padding-left:150px;padding-right:280px;line-height: 1.5;}
div {text-align: center;}
li {text-align: left;line-height: 1;padding-left:150px;padding-right:280px;}
h2{text-align: left; padding-left:150px;}
h3{text-align: center;}
h4 {text-align: center;}
body {
background-color: white;
background-image: url("img25.jpg");
}
.left{
text-align: left;
padding-top:20px;
padding-left:20px;
}
p.solid {border-style: solid;}
</style>
    <title>prediction</title>
  </head>
  <body>
  
  <div class="bg-container">
   <a href="{{url_for('hello')}}"><img src="{{url_for('static',filename='pic/logo.jpg')}}" width=70px,height=70px> </a>
  <h1> Diabetes prediction </h1>
  </div>
	<div class="shadow-lg p-3 mb-5 bg-body rounded">
	<span class="border border-dark">
	<div class="p.solid">
	<h2 style="color:blue; font-family:Ariel; font-size:200%">Overview: </h2>
	<p style="color:black; font-family:Times New Roman; font-size:150%">In this article, we will be predicting that
	whether the patient has diabetes or not on the basis of the features we will provide to our machine learning model,
	and for that, we will be using the famous<a href="https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database"> Pima Indians Diabetes Database </a>from Kaggle. 
	</p style="color:black; font-family:Times New Roman; font-size:150%">
	<img src="{{url_for('static',filename='pic/med.jfif')}}">
	<p style="color:black; font-family:Times New Roman; font-size:150%">Analyze and interpret data using an ethically responsible approach.
Use appropriate models of analysis, assess the quality of input, derive insight from results, and investigate 
potential issues.Apply computing theory, languages, and algorithms, as well as mathematical and statistical models,
 and the principles of optimization to appropriately formulate and use data analyses .
 </p>
 <h2 style="color:blue; font-family:Ariel; font-size:200%">Importing libraries </h2>
 <p style="color:black; font-family:Times New Roman; font-size:150%">In these project we will be using pandas for dataset
 visualization, matplotlib and seaborn for graphical visualization,numpy for operations on data.
 <li style="color:black; font-family:Times New Roman; font-size:150%">import numpy as np</li>
 <li style="color:black; font-family:Times New Roman; font-size:150%">import pandas as pd</li>
 <li style="color:black; font-family:Times New Roman; font-size:150%">import seaborn as sns</li>
 <li style="color:black; font-family:Times New Roman; font-size:150%">import matplotlib.pyplot as plt</li>

 <p style="color:black; font-family:Times New Roman; font-size:150%;letter-spacing:0.5px;">data = pd.read_csv('diabetes.csv')<br>
 data.head()<br>
 <b>.head()</b> shows first five values with all columns included in dataset.<br>
 <br>
 output:<br>
 <img src="{{url_for('static',filename='pic/img11.png')}}"><br>
 <br>
 <b style="color:blue; font-family:Ariel; font-size:150%">Exploring dataset </b>
 <br>
 <br>
 Now let’ see that what are columns available in our dataset.
 <br>
 <b>data.columns</b>
 <br>
 output:<br>
 <b>Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')</b>
	<br>
	<br>
Information about the datasets
<br>
<b> data.info()</b>
<br>Output:<br>
<br>
	<img src="{{url_for('static',filename='pic/img12.png')}}"><br>
	<br>
	Let’s check that if our dataset have null values or not
	<br>
	<b>data.isnull().sum()</b>
	<br>
	<br>
	<img src="{{url_for('static',filename='pic/img13.png')}}"><br>
	<br>
	As we see there isn't any null value present in the dataset.in this particular dataset all the missing values were given 
	the 0 as a value which is not good for the authenticity of the dataset.we will first replace the 0 value with the NAN value.
	<br>
	<b style="color:black; font-family:Ariel; font-size:80%">df_copy =df.copy(deep = True)<br>
	df_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']]=df_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)<br>
	print(df_copy.isnull().sum())</b>
   <br>
   Output:
   <br>
   <img src="{{url_for('static',filename='pic/img14.png')}}"><br>
	<br>
	we replaced the zeros with the NAN values so that we can impute.To maintain the 
	authenticity of the dataset. applying mean values 
	of each column to the null values of the respective columns.
	<br>
	<br>
	<b style="color:blue; font-family:Ariel; font-size:150%">Visualizing data</b>
	<br>
	<b> Now we will plot data distribution plot over the data before removing null values.</b>
	<br>
	<b>d= df.hist(figsize = (20,20)) </b>
	<br>
	Output:
	<br>
	<img src="{{url_for('static',filename='pic/img15.png')}}">
	<br>
	Above plot shows the range of data in the dataset.
	<br>
	<b> Now imputing the null values of each column and replacing it with mean.</b>
	<br>
	<b>df_copy['Glucose'].fillna(df_copy['Glucose'].mean(), inplace = True)<br>
df_copy['BloodPressure'].fillna(df_copy['BloodPressure'].mean(), inplace = True)<br>
df_copy['SkinThickness'].fillna(df_copy['SkinThickness'].median(), inplace = True)<br>
df_copy['Insulin'].fillna(df_copy['Insulin'].median(), inplace = True)<br>
df_copy['BMI'].fillna(df_copy['BMI'].median(), inplace = True)<br>
<br> </b>
<b> Now plotting the graph after removing the null values from the dataset </b>
<br>
<b>d= df.hist(figsize = (20,20))</b>
<br>
<img src="{{url_for('static',filename='pic/img16.png')}}">
<br>
As we can see the range of values are more optimzed after removing all the null values from the dataset.
example -In age column after removal of the null values, we can see that there is a spike at the range of 50 to 100.
<br>
<br>

<b>Now let's plot a bar graph for outcome values.</b> 
<br>
<b>print(df.Outcome.value_counts())
p=df.Outcome.value_counts().plot(kind="bar")</b>
<br>
Output:
<br>
<img src="{{url_for('static',filename='pic/img17.png')}}">
<br>
after plotting the graph we can see about 500 patients are non diabetic and 268 diabetic. So we can visualize that
the our dataset id imbalance according number of diabetic and non-diabetic patients.
<br>
<br>
<b> Now visualizing the relation between the columns using correlation matrix </b>
<br>
<b>
plt.figure(figsize=(12,10))
p = sns.heatmap(df.corr(), annot=True,cmap ='RdYlGn') </b>
<br>
<img src="{{url_for('static',filename='pic/img18.png')}}">
<br>
<b> Let's Explore target output </b>
<br>
<b>Y=df['Outcome']<br>
Y<br></b>
Output:
<br>
<img src="{{url_for('static',filename='pic/img19.png')}}">
<br>
<b> Model Building </b>
<br>
<b><small> Splitting data </small></b>
<br>
<b>X=df.drop(['Outcome'],axis='columns')<br>
X
<br>
Y=df['Outcome']<br>
Y</b>
<br>
Using Train test split from sklearn
<br>
<b>from sklearn.model_selection import train_test_split<br>
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8,random_state=7)<br>
x_test.shape</b>
<br>
<br>
<b style="color:black; font-family:Ariel; font-size:150%">Random Forest</b>
<br>
We will build the model using Random Forest.
<br>
<b>from sklearn.ensemble import RandomForestClassifier<br>
rfc = RandomForestClassifier(n_estimators=200)</br>
rfc.fit(x_train, y_train) </b>
<br>
After training model over train dataset we will find its accuracy.
<br>
<b>rfc_train = rfc.predict(x_train)<br>
from sklearn import metrics<br>
print("Accuracy =", format(metrics.accuracy_score(y_train, rfc_train)))</b>
<br>
Output:
<br>
<b> Accuracy =0.1</b>
<br>
The accuracy of RandomForest on trianing set is 0.1
<br>
<br>
<b>
from sklearn import metrics<br>
predictions = rfc.predict(X_test)<br>
print("Accuracy =", format(metrics.accuracy_score(y_test, predictions)))
</b>
<br>
Output:
<br>
<b>Accuracy = 0.767716535433070</b>
<br>
<br>
<b> Confusion matrix </b>
<br>
<b> from sklearn import metrics<br>
matrix=metrics.confusion_matrix(y_prediction,y_test)<br>
sns.heatmap(matrix,annot=True,cmap='Blues',fmt='0.1f')<br>
plt.xlabel('predicted values')<br>
plt.ylabel('test values')<br>
plt.title('confusion matrix')<br>
plt.show()<br>
matrix</b>
<br>
<img src="{{url_for('static',filename='pic/img21.png')}}">
<br>
<br>

<b style="color:black; font-family:Ariel; font-size:150%">KNeighborsClassifier</b>
<br>
Building the model using KNeighborsClassifier.
<br>
<b>from sklearn.neighbors import KNeighborsClassifier<br>
knn=KNeighborsClassifier(n_neighbors=5)<br>
knn.fit(x_train,y_train)<br>
y_predicted=knn.predict(x_test)<br>
print("first five values of prediction:",y_predicted[0:5])<br>
print("first five values of y:",np.array(y_test[0:5]))<br>
knn.score(x_test,y_test)</b>
<br>
<br>
Output:
<br>
<b>first five values of prediction: [0 1 0 0 0]<br>
first five values of y: [0 1 1 0 1]<br>
0.7077922077922078</b>
<br>

The accuracy of KNeighborsClassifieris 0.7077922.
<br>
<br>
<b> Confusion matrix </b>
<br>
<b> from sklearn import metrics<br>
matrix=metrics.confusion_matrix(y_pred,y_test)<br>
sns.heatmap(matrix,annot=True,cmap='Blues',fmt='0.1f')<br>
plt.xlabel('predicted values')<br>
plt.ylabel('test values')<br>
plt.title('confusion matrix')<br>
plt.show()<br>
matrix</b>
<br>
<img src="{{url_for('static',filename='pic/img20.png')}}">
<br>
<b> Building the model using DecisionTree</b>
<br>
from sklearn.tree import DecisionTreeClassifier<br>
dtree = DecisionTreeClassifier()<br>
dtree.fit(X_train, y_train)<br>
<br>
<br>
<b>Getting the accuracy score for Decision Tree</b>
<br>
from sklearn import metrics<br>
predictions = dtree.predict(x_test)<br>
print("Accuracy =", format(metrics.accuracy_score(y_test,predictions)))
<br>
Output:
<br>
<b>Accuracy = 0.7322834645669292</b>
<br>
As we can see the accuracy score of RandomForest is 0.76, therefore RandomForest is the best model for these prediction.
<br>
<br>
<b> Now we will train the model new data and check the answer.<b>
<br>
<br>
<b>print('give the input in the format of prgnancy,Glucose,Bloodpressure,Skin thikeness,Insulin,BMI,DiabetesPedigreeFunction,Age:')<br>
a,b,c,d,e,f,g,h = map(float,input().split())</b>
<br>
<br>
output:
<br>
<img src="{{url_for('static',filename='pic/img22.png')}}">
<br>
<br>
Now converting these inputs into 2d Array and testing it over RandomForest model.
<br>
<b>new_input=[[a,b,c,d,e,f,g,h]]<br>
pred = rfc.predict(new_input)</b>
<br>
<br>
<b>if pred==1:<br>
    print('diabetic')<br>
else:<br>
    print('non diabetic')
	</b>
	<br>
	Now as the model is trained over new data it will predict it's outcome and will return if patient is diabetic or not.
	<br>
	Output:
	<br>
	diabetic
	<br>
 </p>
 
   
   </div>
	</span>
	</div>
	</div>
	</div>
  </body>
</html>